[submodule "tests/fixtures/SCORE-Bench"]
	path = tests/fixtures/SCORE-Bench
	url = https://huggingface.co/datasets/unstructuredio/SCORE-Bench
	shallow = true
[submodule "vendor/x-ray"]
	path = vendor/x-ray
	url = https://github.com/freelawproject/x-ray.git
[submodule "vendor/pdfminer.six"]
	path = vendor/pdfminer.six
	url = https://github.com/pdfminer/pdfminer.six.git
[submodule "vendor/pdfplumber"]
	path = vendor/pdfplumber
	url = https://github.com/jsvine/pdfplumber.git
